<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Kreeda | JNU SE | Sports Club</title>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- css style sheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" href="favicon.ico">

  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body>

  <section id="title">
    <!-- The navbar is a special feature provided by the bootstrap-4. It cleans up the code and makes the functionality smooth. -->
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand" href="">KREEDA | JNU SE</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- used font awesome for icons in a button-->

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#features">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonials">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="localhost:3000/login">Student</a>
            </li>
          </ul>

        </div>
      </nav>



      <!-- Title -->
      <div class="row">
        <div class="col-lg-6">
          <h1>JNU School of Engineering, Sports Club.</h1>
        </div>
        <div class="col-lg-6">

          <img class="title-image" src="images\jnu logo.png" alt="JNU logo">
        </div>
      </div>
    </div>


  </section>


  <!-- Features -->

  <section id="features">
    <!-- The features section provides the details of the team members. -->
    <h2>Meet Our Team Members</h2>
    <p>We work hard to make you fit</p>
    <div class="row">
      <div class="feature-box col-lg-3">
        <img src="images\shiv.jpg" class="shivpic" alt="shivam">
        <h3>Shivam</h3>
        <p>Batch - 2018-23</p>
        <p>Branch - CSE</p>
        <p>6264851643</p>
      </div>
      <div class="feature-box col-lg-3">
        <img src="images\shubh.jpg" alt="cricket" class="shivpic">
        <h3>Shubham (President)</h3>
        <p>Batch - 2018-23</p>
        <p>Branch - CSE</p>
        <p>931910391</p>
      </div>
      <div class="feature-box col-lg-3">
        <img src="images\abhi.jpeg" alt="cricket" class="shivpic">
        <h3>Abhishek</h3>
        <p>Batch - 2018-23</p>
        <p>Branch - CSE</p>
        <p>7906401848</p>
      </div>
      <div class="feature-box col-lg-3">
        <img src="images\deepak.jpeg" alt="cricket" class="shivpic">
        <h3>Deepak</h3>
        <p>Batch - 2018-23</p>
        <p>Branch - ECE</p>
        <p>8839701243</p>
      </div>
    </div>
  </section>


  <!-- Testimonials -->
  <!-- This section provides us with the events which we organised. -->
  <!-- We have used a special bootstrap functionality i.e carousel. It provides the next slides. -->

  <section id="testimonials">
    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h2>KREEDA ANNUAL SPORTS EVENT.</h2>
          <h2>THE FIERCE BATTLE FOR PRIDE.</h2>
          <img class="testimonial-image" src="images\yuddha4.jpeg" alt="yuddha">
          <em>YUDDHA</em>
        </div>
        <div class="carousel-item">
          <h2>SPRINT</h2>
          <img class="testimonial-image2" src="images\sports.jpg" alt="sports">
        </div>
        <div class="carousel-item">
          <h2>TUG OF WAR</h2>
          <img class="testimonial-image2" src="images\sports1.jpg" alt="sports">
        </div>
        <div class="carousel-item">
          <h2>Cricket</h2>
          <img class="testimonial-image2" src="images\cricket_2.jpg" alt="sports">
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>





  </section>







  <!-- Call to Action -->
  <!-- This section deals with the registration emails. It also takes us to SE JNU site if clicked. -->

  <section id="cta">
    <form action="/" method="post">
      <h3 class="cta-line">Join For Physical And Mental Fitness</h3>
      <p class="invite">For further notifications enter your gmail account:</p>
      <input class="input" type="text" required name="email" placeholder="Your gmail account">
      <button class="next" type="submit" href="thanks.html" target="_blank" name="button">Next</button>
      </form>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <a href="https://www.jnu.ac.in/se" target="_blank"><button type="button" class="btn btn-dark btn-lg">JNU | SE</button></a>


  </section>


  <!-- Footer -->
  <!-- This section just shows our social media presence. -->

  <footer id="footer">
    <i class="footer-icon fab fa-twitter"></i>
    <i class="footer-icon fab fa-instagram"></i>
    <i class="footer-icon fab fa-facebook-square"></i>
    <i class="footer-icon fas fa-envelope"></i>
    <p>© Copyright 2020 Kreeda</p>

  </footer>


</body>

</html>
